*{
    margin: 0%;
    padding: 0%;
}

/* footer css*/
footer{
    position: relative;
    width: 100%;
    height: auto;
    background: black;
    border-top: solid 5px orangered;
}
#Footer-Wrapper{
    position: relative;
    width: 80%;
    height: auto;
    margin: auto;
    color: white;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
            align-items: flex-start;
    flex-wrap: wrap;
    padding: 50px 0;
}
.section{
    position: relative;
    width: auto;
    height: auto;
    min-height: 20px;
    margin: 20px;
    
}
.title{
    position: relative;
    display: inline-block;
    margin: 5px 0;
    padding: 0 5px 0 0;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 2px solid white;
}
.section-wrapper{
    position: relative;
    margin: 5px 0;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
}
.section-wrapper>a, .section-wrapper>div{
    position: relative;
    color: white;
    text-decoration: none;
    margin: 5px 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 90%;
}
#Footer-Logo{
    position: relative;
    width: 100%;
}
.footer-logo-picture{
    
    position: relative;
    width: 200px;
    padding-top: 50px;
}
.footer-logo-picture>img{
    position: relative;
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
}
/* footer css end */